@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}


              
           
            <!-- Main Content -->
<div>
    <div class="d-fle    x justify-content-center">
        <a asp-action="Create" class="btn btn-success"> New <i class="mdi mdi-plus"></i></a>
    </div>
            </div>
          
